body {
    font-family: Arial, sans-serif;
  }
  
  .jumbotron {
    background: url('./Components//images/HomeMenu.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
  }
  
  .jumbotron .container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
  }
  

  
  .card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 500px;
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
    padding: 15px;
  }
  
  .btn-primary {
   
    width: 100%;
  }
  

  